.text-roll {
  position: relative;
  display: inline-table;
  visibility: hidden;
  overflow: hidden;
}
.text-roll .container1, .container2 {
  display: inline;
  position: absolute;
  visibility: visible;
}
.text-roll .container1 {
  top: 0;
}

.text-roll .display-char {
  position: relative;
  display: inline;
}
