#currency-demo {
  .currency-demo-item {
    .demo-item-img {
      width: 150px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
