<div id="currency-demo" layout="column" layout-fill>
  <div layout-padding>
    <h3>Currency Demo</h3>
    <p hide show-gt-xs>Here's an example computer parts shopping experience, enchanced with
      <b>ng-text-roll</b>
    </p>
  </div>
  <md-content layout="column" flex layout-padding>
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <md-menu>
          <md-button class="md-menu-origin md-icon-button md-button hide-gt-xs" ng-click="currency.openMenu($mdOpenMenu, $event)">
            <i class="material-icons">menu</i>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="action in currency.actions">
               <md-button ng-click="currency.navFromMenu(action.stateName)">
                 <md-icon><i class="material-icons">{{action.icon}}</i></md-icon>
                 <span>{{action.title}}</span>
               </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button hide show-gt-xs ng-repeat="action in currency.actions" ui-sref="{{action.stateName}}">
          {{action.title}}
        </md-button>
        <span flex></span>
        <md-button aria-label="Cart">
          Cart ({{currency.svc.cart.length}})
        </md-button>
        <span hide show-gt-sm>Total Price:&nbsp;</span>
        <b>
          <ng-text-roll target="currency.svc.totalPrice" config="currency.rollConfig"></ng-text-roll>
        </b>
      </div>
    </md-toolbar>
    <md-content ui-view></md-content>
  </md-content>
</div>
