.text-roll {
  position: relative;
  display: inline-block;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
}
.text-roll .item1 {
  top: 0;
  position: absolute;
  visibility: visible;
}
.text-roll .item1 .char1 {
  display: inline;
}
.text-roll .item2 {
  top: 0;
  position: absolute;
  visibility: visible;
}
.text-roll .item2 .char2 {
  display: inline;
}
