<div class="ng-text-roll" ng-style="{'font-size' : $ctrl.height }">
  <div class="ng-text-roll-container">
    <div style="position: relative;" ng-repeat="pChar in $ctrl.svc.render[$ctrl.svc.current].target track by $index">
      <div class="ng-text-roll-char" ng-style="$ctrl.svc.render[0].style[$index]">{{$ctrl.svc.render[0].target[$index]}}</div>
      <div class="ng-text-roll-char" ng-style="$ctrl.svc.render[1].style[$index]">{{$ctrl.svc.render[1].target[$index]}}</div>
      {{pChar}}
    </div>
  </div>
</div>
