.ng-text-roll {
  display: inline-block;
  line-height: initial;
  overflow: hidden;
}
.ng-text-roll-container {
  display: flex;
  visibility: hidden; /* hide placeholder */
}
.ng-text-roll-char {
  position: absolute;
  visibility: visible; /* show animated text */
}
