#ng-text-roll {
  display: inline-block;
  line-height: initial;
  overflow: hidden;
}
#ng-text-roll .container {
  display: flex;
  visibility: hidden;
}
#ng-text-roll .inner {
  position: relative;
}
#ng-text-roll .char {
  position: absolute;
  visibility: visible;
}
