<!-- main side bar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 hide-print md-closed md-locked-open" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
  <header>
    <a class="main-logo" href="https://daveteply.github.io/ng-text-roll/dist/">
      <img src="assets/images/ngTextRoll.png" alt="ngTextRoll Logo"></img>
      <h1>ngTextRoll</h1>
    </a>
  </header>
  <md-content class="demo-navigation flex" role="navigation">
    <ul class="demo-nav-header">
      <li>
        <a md-ink-ripple="#3F51B5" class="md-button md-ink-ripple nav-header-item" ui-sref="{{main.demoMenuItems[0].stateName}}" ng-click="main.demoMenuInx = 0">
          <span>{{main.demoMenuItems[0].label}}</span>
        </a>
      <li>
        <div class="demo-nav-section-header">Demos</div>
        <ul>
          <li ng-repeat="menuItem in main.demoMenuItems" ng-if="$index > 0">
            <a md-ink-ripple="#3F51B5" class="md-button md-ink-ripple" ui-sref="{{menuItem.stateName}}" ng-click="main.demoMenuInx = $index">{{menuItem.label}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>
<!-- end main side bar -->

<!-- main content -->
<div class="layout-column flex demo-main-content" layout="column" role="main">
  <md-toolbar class="md-whiteframe-glow-z1">
    <div class="md-toolbar-tools demo-main-tools">
      <button class="md-icon-button md-button md-link-ripple hide-gt-sm" ng-click="main.openNav()">
        <i class="material-icons">menu</i>
      </button>
      <div class="fill-height layout-row flex">
        <h2 class="md-toolbar-item md-breadcrumb md-headline">{{main.currentLabel}}</h2>
        <span class="flex" flex=""></span>
        <div class="md-toolbar-item layout-row" layout="row">
          <a class="md-icon-button md-button ng-scope md-ink-ripple" href="https://github.com/daveteply/ng-text-roll" aria-label="View Source on Github" target="_blank">
            <img src="assets/images/GitHub-Mark-32px.png" alt=""></img>
            <md-tooltip md-direction="left">View Source on Github</md-tooltip>
          </a>
        </div>
      </div>
    </div>
  </md-toolbar>
  <md-content class="layout-column flex" md-scroll-y="" layout="column">

    <div class="layout-padding ng-scope flex-noshrink" flex="noshrink">
      <div class="demo-content-block" ui-view></div>
    </div>

    <div class="layout-row flex-noshrink demo-footer" layout="row" flex="noshrink">
      Code licensed under the MIT License.
    </div>
  </md-content>
</div>
<!-- end main content -->
