<div class="container">

  <h1>ngTextRoll
    <small>Demo Page</small>
  </h1>

The price is
  <ng-text-roll target="numericValue" currency=true height="'40px'"></ng-text-roll>
for some items.

  <br/>
  <br/>
  <ul>
    <li><input type="radio" ng-model="calc.operator" value="add">
      Add</li>
    <li><input type="radio" ng-model="calc.operator" value="substract">
      Substract</li>
    <li><input type="radio" ng-model="calc.operator" value="multiply">
      Multiple</li>
  </ul>
  <button ng-click="updateNumeric()">Update [{{calc.amount}}]</button>
  <button ng-click="changeAmt()">Get new value</button>

</div>
