<h2>What is ngTextRoll?</h2>
<p>
  With today's very dynamic web experience, elements and text on a page can change frequently. ngTextRoll is an
  <a href="https://angularjs.org/" target="_blank">AngularJS</a>
  <a href="https://docs.angularjs.org/guide/component" target="_blank">component</a>
  designed to help draw attention to these types of changes.
</p>
<div class="layout-align-center layout-row">
  <ng-text-roll class="intro-demo" target="intro.theValue"></ng-text-roll>
</div>

<h2>Installation</h2>
<p>
  <ol>
    <li>Install via <a href="http://bower.io/" target="_blank">Bower</a></li>
    <pre>>$ bower install ng-text-roll</pre>
    <li>Add the ngTextRoll module</li>
    <pre>angular.module('myApp', ['ui.ngTextRoll'])</pre>
  </ol>
</p>
<p>
  See the DEMOS section for more examples of useage.
</p>
