<div class="row">
  <h1>ngTextRoll
    <small>Demo Page</small>
  </h1>
</div>

<br>
<div class="row">
  <!-- <span>Text before -->
  <!-- <ng-text-roll class="roll-style" target="theValue" config="rollConfig"></ng-text-roll> -->
  <!-- and text after.</span> -->
  <p style="font-size:25px">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    <ng-text-roll target="theValue" config="rollConfig"></ng-text-roll>
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

</div>
<br>

<!-- <div class="row">
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="currency" ng-change="changeType()">
    Currency
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="number" ng-change="changeType()">
    Number
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="date" ng-change="changeType()">
    Date
  </label>
</div>
<div class="row">
  <label class="radio-inline">
    <input type="radio" ng-model="calc.operator" value="add">
    Add
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.operator" value="substract">
    Substract
  </label>
  <label class="radio-inline" ng-show="calc.type !== 'date'">
    <input type="radio" ng-model="calc.operator" value="multiply">
    Multiply
  </label>
</div> -->

<div class="row">
  <form class="form-inline">
    <button class="btn btn-primary" ng-click="updateValue()">up
      <!-- {{calc.operator}}
      {{calc.operator === 'multiply' ? 'by' : ''}}
      {{calc.specAmt || calc.amount}} -->
    </button>
    <button class="btn btn-primary" ng-click="downValue()">down</button>
    <!-- <input type="text" class="form-control" placeholder="specific amount" ng-change="updateNext()" ng-model="calc.specAmt">Next:{{nextValue}} -->
  </form>
</div>
