<div class="row">
  <h1>ngTextRoll
    <small>Demo Page</small>
  </h1>
</div>

<br>
<div class="row">
  Text before
  <ng-text-roll class="roll-style" target="theValue" config="rollConfig"></ng-text-roll>
  and text after.
</div>
<br>

<div class="row">
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="currency" ng-change="changeType()">
    Currency
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="number" ng-change="changeType()">
    Number
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.type" value="date" ng-change="changeType()">
    Date
  </label>
</div>
<div class="row">
  <label class="radio-inline">
    <input type="radio" ng-model="calc.operator" value="add">
    Add
  </label>
  <label class="radio-inline">
    <input type="radio" ng-model="calc.operator" value="substract">
    Substract
  </label>
  <label class="radio-inline" ng-show="calc.type !== 'date'">
    <input type="radio" ng-model="calc.operator" value="multiply">
    Multiply
  </label>
</div>

<div class="row">
  <form class="form-inline">
    <button ng-click="updateValue()">
      {{calc.operator}}
      {{calc.operator === 'multiply' ? 'by' : ''}}
      {{calc.specAmt || calc.amount}}
    </button>
    <input type="text" class="form-control" placeholder="specific amount" ng-change="updateNext()" ng-model="calc.specAmt">Next:{{nextValue}}
  </div>

</div>
