<md-content class="currency-demo">
  <md-card ng-repeat="item in case.cases" class="currency-demo-item">
    <md-card-title>
      <md-card-title-media hide show-gt-xs>
        <div class="md-media-md card-media demo-item-img" ng-style="{'background-image':'url(assets/images/currency_demo/ComputerCase{{item.imgId}}.jpg)'}"></div>
      </md-card-title-media>
      <div layout-xs="column" layout-gt-xs="row">
        <md-card-title-text>
          <span class="md-headline">{{item.title}}</span>
          <span class="md-subhead">{{item.description}}</span>
        </md-card-title-text>
        <div layout-xs="row">
          <div flex class="md-media-xs card-media demo-item-img" ng-style="{'background-image':'url(assets/images/currency_demo/ComputerCase{{item.imgId}}.jpg)'}"></div>
          <div layout="column" layout-align="center end">
            <span class="md-headline">{{item.price|currency}}</span>
            <md-button class="md-raised" ng-click="case.svc.addToCart(item)">Add to Cart</md-button>
          </div>
        </div>
      </div>
    </md-card-title>
  </md-card>
</md-content>
