<section class="currency-demo">
  <h3>Check out these awesome CPUs!</h3>
  <md-card ng-repeat="item in mem.units" class="currency-demo-item">
    <md-card-title>
      <md-card-title-media hide show-gt-xs>
        <div class="md-media-md card-media demo-item-img" ng-style="{'background-image':'url(assets/images/currency_demo/Memory{{$index + 1}}.jpg)'}"></div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">{{item.title}}</span>
        <span class="md-subhead">{{item.description}}</span>
      </md-card-title-text>
      <div layout="column" layout-align="center end">
        <span class="md-headline">{{item.price|currency}}</span>
        <md-button class="md-raised" ng-click="mem.svc.addToCart(item)">Add to Cart</md-button>
      </div>
    </md-card-title>
  </md-card>
</section>
